#conteudoToxico {
    color: rgb(29, 157, 180);
    box-shadow: 0 0 10px rgb(29, 157, 180);
}
#conteudoGlacial {
    color:chocolate;
    box-shadow: 0 0 10px chocolate;    
}
#conteudoEletrico {
    color: rgb(37, 5, 126);
    box-shadow: 0 0 10px rgb(37, 5, 126);
}
#conteudoRadiacao {
    color: yellowgreen;
    box-shadow: 0 0 10px yellowgreen;
}
#conteudoMagnetismo {
    color: yellow;
    box-shadow: 0 0 10px yellow;
}
#conteudoIgnio {
    color:mediumaquamarine;
    box-shadow: 0 0 10px mediumaquamarine;
}
#conteudoGasoso {
    color: violet;
    box-shadow: 0 0 10px violet;
}